
/* style page d'index*/
body{
    margin:0;
    padding:0;
    background: url(DNA.jpg) ;
    font-family: sans-serif;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* hide the form*/
#login-form{
    display: none;
} 
/* the loginbox class style  */
.loginbox{
    width: 320px;
    height: 420px;
    background: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    

}
/* the avatar class style  */
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    /* middle position */
    left: calc(50% - 50px);
 

}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;


}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input [type="text"],input[type="password"]
{
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
    
}
.loginbox input[type="submit"]{
    border:none;
    outline: none;
    height:40px ;
    background-color: #00BFFF ;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #000;
    color: #00BFFF ;
}
.loginbox a{
    text-decoration: none ;
    font-size: 12px;
    line-height: 20px;
    color: darkslategrey;
}
.loginbox a:hover
{
    color: #000;
}
/* set background  and position of the image */
.full-page{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0,4),rgba(0,0,0,0,4),url(DNA.jpg));
    background-position: center;
    background-size: cover;
    position: absolute;

}
/* Block to set the dimension of  bar navigation*/
.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
}
nav{
    flex:1;
    text-align: right;

}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li {
    display: inline-block;
    margin-right: 70px;
    /* this blocks are for sytling the list elements*/
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color:white;
    font-family: sans-serif;
}
nav ul li button
{
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;

}
nav ul li button:hover{
    color:white;

}
nav ul li a:hover{
    color:white;
    
}
a{
    text-decoration: none;
    color: palevioletred;
    font-size: 28px;
}
/* the loginbox class style  */
.loginbox{
    width: 320px;
    height: 420px;
    background: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;

}
/* the avatar class style  */
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    /* middle position */
    left: calc(50% - 50px);
 

}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;


}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input [type="text"],input[type="password"]
{
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
    
}
.loginbox input[type="submit"]{
    border:none;
    outline: none;
    height:40px ;
    background-color: #00BFFF ;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #000;
    color: #00BFFF ;
}
.loginbox a{
    text-decoration: none ;
    font-size: 12px;
    line-height: 20px;
    color: darkslategrey;
}
.loginbox a:hover
{
    color: #000;
}
/* Style pour la page sign in */
.container{
    max-width: 700px;
    width:100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6,#71b7e6);
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2- 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;

}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3 ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;

}
form .gender-details .gender-details{
    font-size: 20px;
    font-weight: 500;

}
 form input[type="radio"]{
  display: none;
 }
 form .butyon{
    height: 45px;
    margin: 45px 0;
 }
 form .button input{
    outline: none;
    height: 100% ;
    width: 100%;
    border: none;
    color:#fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background-color: #197bbd  ;
  
 }
 form .button input:hover{
    background-color: #000 ;
 }
 @media (max-width: 584)  {
     .container{
         max-width: 100%;
     }
     form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
     
 }
 
 /* Page Genome  */

.chain-container{
    font-size: xx-large;
    white-space: nowrap;
}
.card-container{
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    max-width: 1000px;
    background-color: white;
    border: solid 1px #ddd;
    box-shadow: 4px 8px 14px 3px rgb(0 0 0 / 44%);
    padding: 20px;
    border-radius: 20px;
    overflow: auto;
}

/* Page Admin  */
.tableadmin {
    border-collapse: collapse; 
}

.tableadmin td, .tableadmin th{
    border: 1px solid black; 
    background-color: white;   
}

.soumettre{
}

/* Page AnnotValid  */

.tableattrib {
    border-collapse: collapse; 
}

.tableattrib td, .tableattrib th{
    border: 1px solid black; 
    background-color: rgb(198, 53, 211);   
}

.tablevalid {
    border-collapse: collapse; 
}

.tablevalid td, .tablevalid th{
    border: 1px solid black; 
    background-color: rgb(198, 53, 211);   
}

.tableannot {
    border-collapse: collapse; 
}

.tableannot td, .tableannot th{
    border: 1px solid black; 
    background-color: rgb(145, 236, 217);   
}